ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #402e42;
  position: fixed;
  bottom: -10px;
  width: 102%;
}

li {
  float: left;
}
/* buttons */

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 0px 130px;
  text-decoration: none;
  font-size: 350%;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #04AA6D;
}
body {
  margin:0;
  background-color: rgb(192, 164, 212);
}

p {
  font-size: 200%;
}

h1 {
  position: relative;

font-size: 300%;
}

h2 {
font-size: 250%;
}

h3 {
font-size: 200%;
}

/* "discrait button" */
#myButton3 {
position: absolute;
bottom:90% ;
left: 1%;
opacity: 100;
font-size: 3em;
background-color: rgb(218, 33, 0);
}
/* first info thing*/
.mon-bloc {
position: fixed;
background-color: #8b6c8f;
padding: 33px;
top: 17%;
left: 1%;
border: 0px solid #ccc;  
font-size: 41px;
color: #ffffff;
}
/* 2nd first info thing*/
.mon-bloc2 {
position: fixed;
background-color: #8b6c8f;
padding: 27px;
top: 54%;
left: 1%;
border: 0px solid #ccc;  
font-size: 35px;
color: #ffffff;
}
/* echo logo */
.logo {
position : fixed;
right: 10%;
top: 9%;
}

/* links in article */
.slight-right {
  position: fixed;
  left: 10%;
}

/*Buttons in article */
.button-article {
  background-color: #8b6c8f; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 50px;
  
}

.logo2 {
  position : fixed;
  right: 25%;
  top: 20%;
}